.quick-input-widget {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translateY(-50%);
}
  
.titlebar-center {
    display: none !important;
}
  
.quick-input-filter .monaco-inputbox {
    padding-block: 10px !important;
    padding-inline: 20px !important;
}